.Header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.Header__logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.Header__logo {
  width: 50px;
  position: relative;
  /* top: 5px; */
  left: -5px;
}

.Header__title {
  font-size: 36px;
  /* color: white; */
  opacity: 0.65;
  /* color: #333; */
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.95),
    0 0 42px rgba(255, 255, 255, 0.6);
}
