.Header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.Header__logo-container {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Header__logo {
  width: 42px;
  position: relative;
  left: -5px;
}

.Header__title {
  font-size: 28px;
  opacity: 0.75;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.95),
    0 0 42px rgba(255, 255, 255, 0.6);
}

.Header__github {
  width: 32px;
  opacity: 0.9;
  position: relative;
}
