.SystemStatus {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 5px 10px;
  border-radius: 0.5rem;
  --status-color: var(--theme-success); /* Default to online color */
}

.SystemStatus__indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--status-color);
  box-shadow: 0 0 4px var(--status-color);
}

.SystemStatus__text {
  color: var(--status-color);
  text-transform: capitalize;
}

.SystemStatus--online {
  --status-color: var(--theme-success);
}

.SystemStatus--maintenance {
  --status-color: var(--theme-danger);
}

.SystemStatus--cancel_only {
  --status-color: var(--theme-caution);
}

.SystemStatus--limit_only {
  --status-color: var(--theme-gold);
}

.SystemStatus--post_only {
  --status-color: var(--theme-accent);
}

.SystemStatus--offline {
  --status-color: var(--theme-dim);
}
